################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BizBook.Common/v16
/BizBook.Common.Library/bin/
/BizBook.Common.Library/obj
/.vs/BizBook.Common/DesignTimeBuild
*.nupkg
/BizBook.Common.Library/nuget.config
